In [1]:
#BY mmohammad tabrez

In [2]:
#importing libarares 
import pandas as pd 
import numpy as np

In [3]:
#Reading Excel Data file 
bsed = pd.read_excel('bse.xls')
bsed

,Company,Sector,Industry,Price,Dividend Per Share
0,3M India Ltd.,Services,Trading,21634.90,0.0
1,Aarti Industries Ltd.,Chemicals,Organic Chemicals,975.45,11.0
2,Aavas Financiers Ltd.,Financial,Housing Finance,1327.95,0.0
3,ABB Ltd.,Engineering,Switching Equipment,891.95,4.8
4,Abbott India Ltd.,Healthcare,Drugs & Pharma,14903.90,65.0
...,...,...,...,...,...
496,Wipro Ltd.,Technology,Computer Software,276.75,1.0
497,Wockhardt Ltd.,Healthcare,Drugs & Pharma,260.80,0.0
498,Zee Entertainment Enterprises Ltd.,Services,Media & Entertainment,144.05,3.5
499,Zensar Technologies Ltd.,Technology,Computer Hardware,155.70,2.8
500,Zydus Wellness Ltd.,FMCG,Food Processing,1612.00,5.0

In [4]:
#setting index as company
seenbse=bsed.set_index('Company')
nbse

,Sector,Industry,Price,Dividend Per Share
Company,,,,
3M India Ltd.,Services,Trading,21634.90,0.0
Aarti Industries Ltd.,Chemicals,Organic Chemicals,975.45,11.0
Aavas Financiers Ltd.,Financial,Housing Finance,1327.95,0.0
ABB Ltd.,Engineering,Switching Equipment,891.95,4.8
Abbott India Ltd.,Healthcare,Drugs & Pharma,14903.90,65.0
...,...,...,...,...
Wipro Ltd.,Technology,Computer Software,276.75,1.0
Wockhardt Ltd.,Healthcare,Drugs & Pharma,260.80,0.0
Zee Entertainment Enterprises Ltd.,Services,Media & Entertainment,144.05,3.5
Zensar Technologies Ltd.,Technology,Computer Hardware,155.70,2.8
Zydus Wellness Ltd.,FMCG,Food Processing,1612.00,5.0

In [6]:
#see no of companies
nocompanies = len(nbse)
nocompanies

501

In [7]:
#renaming Dividend Per Share
bse=nbse.rename(columns={'Dividend Per Share':'DividendPerShare'})
bse

,Sector,Industry,Price,DividendPerShare
Company,,,,
3M India Ltd.,Services,Trading,21634.90,0.0
Aarti Industries Ltd.,Chemicals,Organic Chemicals,975.45,11.0
Aavas Financiers Ltd.,Financial,Housing Finance,1327.95,0.0
ABB Ltd.,Engineering,Switching Equipment,891.95,4.8
Abbott India Ltd.,Healthcare,Drugs & Pharma,14903.90,65.0
...,...,...,...,...
Wipro Ltd.,Technology,Computer Software,276.75,1.0
Wockhardt Ltd.,Healthcare,Drugs & Pharma,260.80,0.0
Zee Entertainment Enterprises Ltd.,Services,Media & Entertainment,144.05,3.5
Zensar Technologies Ltd.,Technology,Computer Hardware,155.70,2.8
Zydus Wellness Ltd.,FMCG,Food Processing,1612.00,5.0

In [8]:
#getting Dividend Cos where D >= 20 per share 
dv=bse[bse.DividendPerShare >= 20 ]
dv

,Sector,Industry,Price,DividendPerShare
Company,,,,
Abbott India Ltd.,Healthcare,Drugs & Pharma,14903.90,65.00
Akzo Nobel India Ltd.,Chemicals,Paints & Varnishes,1864.80,24.00
Alkem Laboratories Ltd.,Healthcare,Drugs & Pharma,2476.45,25.00
Alkyl Amines Chemicals Ltd.,Chemicals,Organic Chemicals,2282.20,20.00
Atul Ltd.,Chemicals,Dyes & Pigments,5119.00,27.50
Bajaj Auto Ltd,Automobile,Two & Three Wheelers,3116.15,120.00
Bajaj Holdings & Investment Ltd.,Financial,Invest.Services,2725.00,72.50
Balkrishna Industries Ltd.,Automobile,Tyres & Tubes,1251.35,20.00
Bayer CropScience Ltd.,Healthcare,Drugs & Pharma,5781.20,25.00
Bosch Ltd.,Automobile,Auto Ancillaries,13249.95,105.00
Britannia Industries Ltd.,FMCG,Bakery & Milling Prod.,3807.10,35.00
CARE Ratings Ltd.,Financial,Credit Ratings & Information,443.10,30.00
CESC Ltd.,Energy,Electricity Generation,564.60,20.00
Colgate-Palmolive (India) Ltd.,FMCG,Cosmetics & Toiletries,1437.50,28.00
Crisil Ltd.,Financial,Credit Ratings & Information,1675.85,32.00
Dr. Reddy's Laboratories Ltd.,Healthcare,Drugs & Pharma,4118.45,25.00
Eicher Motors Ltd.,Automobile,Two & Three Wheelers,21360.00,125.00
Esab India Ltd.,Engineering,Welding machinery,1416.05,90.00
Gillette India Ltd.,FMCG,Cosmetics & Toiletries,5080.90,44.00
Glaxosmithkline Pharmaceuticals Ltd.,Healthcare,Drugs & Pharma,1480.00,40.00
HEG Ltd.,Engineering,Welding machinery,777.05,80.00
Hero Motocorp Ltd.,Automobile,Two & Three Wheelers,2810.90,90.00
Hindustan Unilever Ltd.,FMCG,Cosmetics & Toiletries,2257.00,25.00
Hindustan Zinc Ltd.,Metals,Other Non-Ferrous Metal,207.35,20.00
Honeywell Automation India Ltd.,Engineering,Electronic Equipts.,27350.00,75.00
Housing Development Finance Corpn. Ltd.,Financial,Housing Finance,1897.30,24.50
Indiabulls Housing Finance Ltd.,Financial,Housing Finance,216.00,40.00
Larsen & Toubro Infotech Ltd.,Technology,Computer Software,2419.00,28.00
L&T Technology Services Ltd.,Engineering,Other Projects,1507.00,21.00
Mahanagar Gas Ltd.,Energy,Crude Oil & Natural Gas,1009.70,20.00
Maharashtra Scooters Ltd.,Automobile,Two & Three Wheelers,3061.50,50.00
Maruti Suzuki India Ltd.,Automobile,Cars & Multi Utility Vehicles,6187.00,80.00
Mphasis Ltd.,Technology,Computer Software,1163.70,35.00
MRF Ltd.,Automobile,Tyres & Tubes,62320.00,60.00
Multi Commodity Exchange India,Financial,Misc. Fin.services,1719.05,20.00
Nestle India Ltd.,FMCG,Dairy products,16652.00,342.00
NIIT Technologies Ltd.,Technology,Computer Software,1856.20,31.00
Oracle Financial Services Software Ltd.,Technology,Computer Software,2990.00,180.00
Page Industries Ltd.,Textiles,Cloth,19225.50,161.00
Pfizer Ltd.,Healthcare,Drugs & Pharma,4331.00,22.50
Procter & Gamble Health Ltd.,Healthcare,Drugs & Pharma,4197.50,440.00
Procter & Gamble Hygiene & Health Care Ltd.,FMCG,Cosmetics & Toiletries,10348.90,88.00
Sanofi India Ltd.,Healthcare,Drugs & Pharma,7865.00,349.00
Schaeffler India Ltd.,Engineering,Ball Bearings,3643.00,35.00
Shree Cement Ltd.,Construction,Cement,22001.90,110.00
SKF India Ltd.,Engineering,Ball Bearings,1462.70,130.00
Sonata Software Ltd.,Technology,Computer Software,259.00,20.25
Tata Consultancy Services Ltd.,Technology,Computer Software,2283.35,73.00
Thyrocare Technologies Ltd.,Healthcare,Health Services,702.35,20.00
Timken India Ltd.,Engineering,Industrial Machinery,976.25,50.00
Torrent Pharmaceuticals Ltd.,Healthcare,Drugs & Pharma,2349.20,32.00
TTK Prestige Ltd.,Cons Durable,Domestic Electrical Applns.,5488.00,30.00
TVS Srichakra Ltd.,Automobile,Tyres & Tubes,1398.45,40.00
Vaibhav Global Ltd.,Cons Durable,Gems & Jewellery,1335.00,33.74
VST Industries Ltd.,FMCG,Tobacco Prod.,3207.05,103.00

In [9]:
#No of companies where D is >= 20 per share
noc=len(dv)
noc

55

In [10]:
#getting health sector stocks where D is >= 20 per share Dividend
hc = dv.loc[dv['Sector'] == 'Healthcare']
hc

,Sector,Industry,Price,DividendPerShare
Company,,,,
Abbott India Ltd.,Healthcare,Drugs & Pharma,14903.90,65.0
Alkem Laboratories Ltd.,Healthcare,Drugs & Pharma,2476.45,25.0
Bayer CropScience Ltd.,Healthcare,Drugs & Pharma,5781.20,25.0
Dr. Reddy's Laboratories Ltd.,Healthcare,Drugs & Pharma,4118.45,25.0
Glaxosmithkline Pharmaceuticals Ltd.,Healthcare,Drugs & Pharma,1480.00,40.0
Pfizer Ltd.,Healthcare,Drugs & Pharma,4331.00,22.5
Procter & Gamble Health Ltd.,Healthcare,Drugs & Pharma,4197.50,440.0
Sanofi India Ltd.,Healthcare,Drugs & Pharma,7865.00,349.0
Thyrocare Technologies Ltd.,Healthcare,Health Services,702.35,20.0
Torrent Pharmaceuticals Ltd.,Healthcare,Drugs & Pharma,2349.20,32.0

In [11]:
#no of comapnies 
noh=len(hc)
noh

10

In [12]:
#getting Chemicals stocks where is d >= 20 per share Dividend
ch = dv.loc[dv['Sector'] == 'Chemicals']
ch

,Sector,Industry,Price,DividendPerShare
Company,,,,
Akzo Nobel India Ltd.,Chemicals,Paints & Varnishes,1864.8,24.0
Alkyl Amines Chemicals Ltd.,Chemicals,Organic Chemicals,2282.2,20.0
Atul Ltd.,Chemicals,Dyes & Pigments,5119.0,27.5

In [13]:
#no of comapnies 
noC=len(ch)
noC

3

In [14]:
#getting Automobile stocks where d is >= 20 per share Dividend
Au = dv.loc[dv['Sector'] == 'Automobile']
Au

,Sector,Industry,Price,DividendPerShare
Company,,,,
Bajaj Auto Ltd,Automobile,Two & Three Wheelers,3116.15,120.0
Balkrishna Industries Ltd.,Automobile,Tyres & Tubes,1251.35,20.0
Bosch Ltd.,Automobile,Auto Ancillaries,13249.95,105.0
Eicher Motors Ltd.,Automobile,Two & Three Wheelers,21360.00,125.0
Hero Motocorp Ltd.,Automobile,Two & Three Wheelers,2810.90,90.0
Maharashtra Scooters Ltd.,Automobile,Two & Three Wheelers,3061.50,50.0
Maruti Suzuki India Ltd.,Automobile,Cars & Multi Utility Vehicles,6187.00,80.0
MRF Ltd.,Automobile,Tyres & Tubes,62320.00,60.0
TVS Srichakra Ltd.,Automobile,Tyres & Tubes,1398.45,40.0

In [15]:
#no of comapnies 
noA=len(Au)
noA

9

In [16]:
#getting Financial stocks where d is >= 20 per share Dividend
Fi = dv.loc[dv['Sector'] == 'Financial']
Fi

,Sector,Industry,Price,DividendPerShare
Company,,,,
Bajaj Holdings & Investment Ltd.,Financial,Invest.Services,2725.00,72.5
CARE Ratings Ltd.,Financial,Credit Ratings & Information,443.10,30.0
Crisil Ltd.,Financial,Credit Ratings & Information,1675.85,32.0
Housing Development Finance Corpn. Ltd.,Financial,Housing Finance,1897.30,24.5
Indiabulls Housing Finance Ltd.,Financial,Housing Finance,216.00,40.0
Multi Commodity Exchange India,Financial,Misc. Fin.services,1719.05,20.0

In [17]:
#no of comapnies 
noF=len(Fi)
noF

6

In [18]:
#getting FMCG stocks whered is >= 20 per share Dividend
Fm = dv.loc[dv['Sector'] == 'FMCG']
Fm

,Sector,Industry,Price,DividendPerShare
Company,,,,
Britannia Industries Ltd.,FMCG,Bakery & Milling Prod.,3807.10,35.0
Colgate-Palmolive (India) Ltd.,FMCG,Cosmetics & Toiletries,1437.50,28.0
Gillette India Ltd.,FMCG,Cosmetics & Toiletries,5080.90,44.0
Hindustan Unilever Ltd.,FMCG,Cosmetics & Toiletries,2257.00,25.0
Nestle India Ltd.,FMCG,Dairy products,16652.00,342.0
Procter & Gamble Hygiene & Health Care Ltd.,FMCG,Cosmetics & Toiletries,10348.90,88.0
VST Industries Ltd.,FMCG,Tobacco Prod.,3207.05,103.0

In [19]:
#no of comapnies 
noFM=len(Fm)
noFM

7

In [20]:
#getting FMCG stocks where d is >= 20 per share Dividend
Me = dv.loc[dv['Sector'] == 'Metals']
Me

                     Sector                 Industry   Price  DividendPerShare
Company
Hindustan Zinc Ltd.  Metals  Other Non-Ferrous Metal  207.35              20.0

In [21]:
#no of comapnies 
noM=len(Me)
noM

1

In [22]:
#getting FMCG stocks which is >= 20 per share Dividend
En = dv.loc[dv['Sector'] == 'Energy']
En

                    Sector                 Industry   Price  DividendPerShare
Company
CESC Ltd.           Energy   Electricity Generation   564.6              20.0
Mahanagar Gas Ltd.  Energy  Crude Oil & Natural Gas  1009.7              20.0

In [23]:
#no of comapnies 
noE=len(En)
noE

2

In [24]:
#getting FMCG stocks where d is >= 20 per share Dividend
Te = dv.loc[dv['Sector'] == 'Technology']
Te

,Sector,Industry,Price,DividendPerShare
Company,,,,
Larsen & Toubro Infotech Ltd.,Technology,Computer Software,2419.00,28.00
Mphasis Ltd.,Technology,Computer Software,1163.70,35.00
NIIT Technologies Ltd.,Technology,Computer Software,1856.20,31.00
Oracle Financial Services Software Ltd.,Technology,Computer Software,2990.00,180.00
Sonata Software Ltd.,Technology,Computer Software,259.00,20.25
Tata Consultancy Services Ltd.,Technology,Computer Software,2283.35,73.00

In [25]:
#no of comapnies 
noT=len(Te)
noT

6

In [26]:
#getting FMCG stocks where is d >= 20 per share Dividend
Tx = dv.loc[dv['Sector'] == 'Textiles']
Tx

                        Sector Industry    Price  DividendPerShare
Company
Page Industries Ltd.  Textiles    Cloth  19225.5             161.0

In [27]:
#no of comapnies 
noTx=len(Tx)
noTx

1

In [28]:
#getting FMCG stocks where d is >= 20 per share Dividend
En = dv.loc[dv['Sector'] == 'Engineering']
En

,Sector,Industry,Price,DividendPerShare
Company,,,,
Esab India Ltd.,Engineering,Welding machinery,1416.05,90.0
HEG Ltd.,Engineering,Welding machinery,777.05,80.0
Honeywell Automation India Ltd.,Engineering,Electronic Equipts.,27350.00,75.0
L&T Technology Services Ltd.,Engineering,Other Projects,1507.00,21.0
Schaeffler India Ltd.,Engineering,Ball Bearings,3643.00,35.0
SKF India Ltd.,Engineering,Ball Bearings,1462.70,130.0
Timken India Ltd.,Engineering,Industrial Machinery,976.25,50.0

In [29]:
#no of comapnies 
noEn=len(En)
noEn

7

In [30]:
#getting FMCG stocks where d is >= 20 per share Dividend
Co = dv.loc[dv['Sector'] == 'Cons Durable']
Co

,Sector,Industry,Price,DividendPerShare
Company,,,,
TTK Prestige Ltd.,Cons Durable,Domestic Electrical Applns.,5488.0,30.00
Vaibhav Global Ltd.,Cons Durable,Gems & Jewellery,1335.0,33.74

In [31]:
#no of comapnies 
noCo=len(Co)
noCo

2

In [32]:
#getting Construction stocks where d is >= 20 per share Dividend
cn = dv.loc[dv['Sector'] == 'Construction']
cn

                         Sector Industry    Price  DividendPerShare
Company
Shree Cement Ltd.  Construction   Cement  22001.9             110.0

In [33]:
#no of comapnies
nocn=len(cn)
nocn

1

In [ ]:
#The end